.header {
	padding: 1rem;
	background-color: var(--bg-header);
	border-bottom: 2px solid var(--border-header);

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-left-side {
			display: flex;
			gap: 2rem;
		}
	}
	&__button {
		border-radius: 6px;
		padding: 0.5rem 1rem;
		cursor: pointer;
		border-width: 2px;
		border-style: solid;
		font-weight: 500;
		transition:
			background 0.2s,
			color 0.2s;
	}
}

.dropdown {
	position: relative;
}

.dropdown__content {
	border-radius: 0.3rem;
	display: none;
	position: absolute;
	right: -35px;
	background-color: var(--bg-header);
	border: 2px solid var(--border-header);
	min-width: 160px;
	padding: 12px 16px;
	flex-direction: column;
	gap: 0.5rem;
	text-align: center;
}

.dropdown:hover .dropdown__content {
	display: flex;
}
