.management {
	&__delete-button {
		border: 2px solid var(--error-border);
		border-radius: 6px;
		padding: 4px;
		background-color: var(--error-bg);
		color: var(--error-color);
	}
}

.ItemList {
	display: flex;
	flex-direction: row;
}

.ItemList.selected {
	background: var(--selected-bg);
}
