.management {
	&__button {
		border-radius: 6px;
		padding: 4px;
		cursor: pointer;
		border-width: 2px;
		border-style: solid;
	}

	&__update-button {
		background-color: transparent;
		border-color: var(--primary-border);
		color: white;
	}

	&__delete-button {
		border-color: var(--error-border);
		background-color: transparent;
		color: white;
	}

	&__page-header {
		display: flex;
		width: calc(100% - 1rem);
		justify-content: space-between;
		margin-left: 1rem;
		margin-top: 1rem;
	}

	&__delete-group {
		display: flex;
		gap: 1rem;
		margin-right: 1rem;
	}
}

.ItemList {
	display: flex;
	flex-direction: row;
}

.ItemList.selected {
	background: var(--selected-bg);
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
}

.modal {
	background: white;
	padding: 1.5rem;
	border-radius: 0.5rem;
	width: 400px;
}

.error {
	color: red;
	margin-top: 0.5rem;
}
